<form [formGroup]="feedbackForm"
(ngSubmit)="onSubmit()">
<!-- ФИО -->
 <div class="form-group">
 <mat-form-field class="example-full-width">
     <mat-label>ФИО</mat-label>
     <input
      matInput
      formControlName="fullName"
      placeholder="Введите ваше ФИО">
   </mat-form-field>
   <div class="error" *ngIf="feedbackForm.get('fullName')?.invalid && feedbackForm.get('fullName')?.touched">
      <div *ngIf="feedbackForm.get('fullName')?.errors?.['required']">Обязательное поле</div>
      <div *ngIf="feedbackForm.get('fullName')?.errors?.['minlength']">Минимум 6 символов</div>
    </div>
  </div>

 <!-- Телефон -->
  <div class="form-group">
 <mat-form-field class="example-full-width">
     <mat-label>Телефон</mat-label>
     <input
      matInput
      formControlName="phone"
      placeholder="Введите ваш номер телефона">
   </mat-form-field>
   <div class="error" *ngIf="feedbackForm.get('phone')?.invalid && feedbackForm.get('phone')?.touched">
      <div *ngIf="feedbackForm.get('phone')?.errors?.['required']">Обязательное поле</div>
      <div *ngIf="feedbackForm.get('phone')?.errors?.['phoneInvalid']">Только цифры</div>
    </div>
  </div>

 <!-- Email -->
 <div class="form-group">
 <mat-form-field class="example-full-width">
     <mat-label>Email</mat-label>
     <input
      matInput
      formControlName="email"
      placeholder="Введите адрес вашей эл. почты">
   </mat-form-field>
    <div class="error" *ngIf="feedbackForm.get('email')?.invalid && feedbackForm.get('email')?.touched">
      <div *ngIf="feedbackForm.get('email')?.errors?.['required']">Обязательное поле</div>
      <div *ngIf="feedbackForm.get('email')?.errors?.['email']">Некорректный email</div>
    </div>
  </div>

 <!-- Комментарий -->
  <div class="form-group">
    <mat-form-field class="example-full-width">
    <mat-label>Ваш комментарий</mat-label>
    <textarea 
    matInput
    formControlName="comment"
    placeholder="Введите ваш комментарий"></textarea>
  </mat-form-field>
  </div>

<!-- Согласие -->
 <section class="example-section">
  <mat-checkbox class="example-margin"
  formControlName="agreement" >Согласие на обработку персональных данных </mat-checkbox>
</section>

<!-- Кнопка отправки -->
  <div class="example-button-row">
    <button matButton="filled" type="submit" [disabled]="!feedbackForm.get('agreement')?.value">Отправить</button>
  </div>

<!-- Модальное окно -->
<div *ngIf="showSuccessModal" class="modal">
  <div class="modal-content">
    <p>Форма отправлена успешно</p>
    <button matButton="filled" (click)="closeModal()">OK</button>
  </div>
</div>
</form>
