form {
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group-checkbox-group{
  display: flex;
  justify-content: space-between;
  justify-self: start;
  align-items: center;
}

.checkbox-mark{
  margin-left: -5px;
  margin-right: 10px;
}


.error {
  color: red;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  padding: 10px 20px;
  background: #5b6fc5;
  color: white;
  border: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}